<nav class="navbar navbar-light bg-light static-top navbar-expand-lg py-3">
  <div class="container">
    <a class="navbar-brand w-600" href="/">
      <img src="/assets/img/spanet_logo.png" height="60" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
