---
layout: default
---

{% include header.html image="/website/assets/img/iag.png" title="WoSAMLA"
    subtitle="Workshop SPAnet de Machine Learning em Astronomia"
    boldtitle="true" %}

<section style="padding: 6rem 0; background: rgb(241, 242, 243);">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-justify">
        <h2 class="mb-4">Workshop SPAnet de Machine Learning em Astronomia</h2>
        <p class="lead">
          Técnicas de Inteligência Artificial estão tendo aplicação crescente em Astronomia, 
          na medida em que permitem resolver problemas que, de outro modo, não poderiam ser abordados. 

          Diversos grupos vêm apresentando soluções inovadoras, usando Machine Learning, para uma vasta gama de problemas astrofísicos. 

          Com este workshop queremos contribuir para o desenvolvimento dessas atividades no Estado de São Paulo. 

          O workshop será realizado em 27 de março de 2020 no Instituto Mauá de Tecnologia em Caetano do Sul.
        </p>
        <p class="lead">
          O workshop tem três objetivos principais: disseminar o conhecimento que tem sido produzido em aplicações de ML à Astronomia no Estado de São Paulo, promover o networking entre os pesquisadores atuando na área, principalmente entre os jovens e discutir possíveis ações para promover o desenvolvimento e a visibilidade da área
        </p>
      </div>
    </div>
  </div>
</section>
